html {
  background: url(http://www.walldevil.com/wallpapers/a87/wallpaper-avengers-cartoon.jpg) no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#memory_board {
  background: #dddddd;
  opacity: 0.8;
	width:800px;
	height:540px;
	padding:10px;
	margin-top: 0;
  margin-left: 10%;
  border-radius: 24px;
}


.card {
  background-color: #456783;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
}


.actual-image{
}

.front{
  display: none;
  width: inherit;
  height: inherit;
	float:left;
	padding:0;
}

.blockClick {
  pointer-events: none;
}

#score {
  background-color: rgba(215, 44, 44, 0.8);;
  border-radius: 8px;
  font-size: 30px;
  font-family: Arial;
  width:200px;
  padding: 10px;
  padding-top: 0;
  margin-left: 10%;
}

.container {
  position: relative;

}

h1 {
  color: rgba(215, 40, 40, 0.9);
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  margin-bottom: 0;

}

h2 {
  color: #white;
  font-weight: bolder;
  font-size: 35px;
  text-align: center;
}

p {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}
